.spinner {
  display: block;
  opacity: 1;
  position: relative;
  transition: opacity .3s;
  padding: 0;
  margin: 0;

  .spinner__inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .spinner__dot {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: -10%;
    margin-top: -10%;
    border-radius: 50%;
    background-color: #fff;
    animation: spinner 1.6s linear infinite;

    &:nth-child(1) {
      animation-delay: 0s;
      top: 0;
      left: 50%;
    }

    &:nth-child(2) {
      animation-delay: .2s;
      top: 15%;
      left: 85%;
    }

    &:nth-child(3) {
      animation-delay: .4s;
      top: 50%;
      left: 100%;
    }

    &:nth-child(4) {
      animation-delay: .6s;
      top: 85%;
      left: 85%;
    }

    &:nth-child(5) {
      animation-delay: .8s;
      top: 100%;
      left: 50%;
    }

    &:nth-child(6) {
      animation-delay: 1s;
      top: 85%;
      left: 15%;
    }

    &:nth-child(7) {
      animation-delay: 1.2s;
      top: 50%;
      left: 0%;
    }

    &:nth-child(8) {
      animation-delay: 1.4s;
      top: 15%;
      left: 15%;
    }
  }
}

.spinner--disabled {
  opacity: 0;
  width: 0 !important;
  height: 0 !important;
}


@keyframes spinner {
  0%, 25%, 75%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }
}